# Node rules:
## Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

## Dependency directory
## Commenting this out is preferred by some people, see
## https://docs.npmjs.com/misc/faq#should-i-check-my-node_modules-folder-into-git
node_modules

# Book build output
_book

# eBook build output
*.epub
*.mobi
*.pdf

bin/
obj/
*.exe
*.dll
*.pdb
*.suo
*.cache
*.lib
*.tmp
*.temp


.user

packages/
*.sqlite
*.sqlite-journal
/.vs/slnx.sqlite-journal
/code/.vs/CodeExample/v15/sqlite3/storage.ide
